{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}سپاهان آرامش پرواز{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<!-- Section: Design Block -->
<section class="text-center">
    <div class="p-5 bg-image" style="
      background-image: url('{% static 'img/1920x600/img1.jpg' %}');
      background-repeat: no-repeat;
      background-position: center;
      height: 40vh;
    "></div>

    <div class="container">
      <div class="card mx-4 mx-md-5 shadow-5-strong mt-n5" style="
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
        <button type="button" class="btn col-12 col-lg-2 col-xl-2 mb-4 position-absolute top-0 left-0 start-0 p-3 d-flex justify-content-center align-content-center">
          <a href="{% url 'home' %}" class="text-primary mr-1">
            برگشت به خانه
          </a>
          <i>
            <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
            </svg>
          </i>
        </button>
        <div class="card-body py-5 px-md-5">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <h2 class="fw-bold mb-4">تغییر رمز عبور</h2>
              <form id="form" method="POST" class="form needs-validation">
                {% csrf_token %}
                <p class="text-danger">{{ error_message }}</p>
                <div class="form-outline mb-4">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" id="password" class="form-control" placeholder="لطفاً رمز جدید خود را وارد کنید" oninvalid="setCustomValidity('لطفا رمز عبور خود را وارد کنید')" onchange="try{setCustomValidity('')}catch(e){}" spellcheck='false' autocorrect='off', autocapitalize='off', name= 'current-password', autocomplete= 'current-password' required>
                        <span class="input-group-text cursor-pointer user-select-none"><i class="far fa-eye-slash" id="togglePassword"></i></span>
                      </div>
                      <p class="text-left mt-2">رمز عبور باید حداقل <span class="text-danger">8 کاراکتر</span> باشد</p>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" id="confirm_password" class="form-control" placeholder="لطفا دوباره رمز جدید را وارد کنید" oninvalid="setCustomValidity('لطفا عبور خود را دوباره وارد کنید.')" onchange="try{setCustomValidity('')}catch(e){}" required>
                      </div>
                    </div>
                  </div>
                  
                  <!-- بعد از تست type به submit باید تغییر کند. -->
                  <button type="button" id="changePassBtn" class="btn col-lg-4 col-xl-4 btn-primary mx-auto d-block mb-4">
                    تایید
                  </button>
                </div>
              </form>
              <div id="successful" class="mb-2 d-none font-size-18">
                <span style="color: #37b24d;">رمز عبور شما با موفقیت انجام شد به صفحه لاگین منتقل میشوید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Styles -->
<style>
  .invalid{
    border-color: #f03e3e;
  }
  
  .invalid:focus{
    border-color: #f03e3e;
    box-shadow: 0 0 8px #ffa8a8;
  }
  
  .valid{
    border-color: #37b24d;
  }
  .valid:focus{
    border-color: #37b24d;
    box-shadow: 0 0 8px #8ce99a;
  }
</style>

<script>
    const togglePasswords = document.querySelectorAll("#togglePassword");
    const password = document.getElementById("password");
    const confirmPassword = document.getElementById("confirm_password");

    togglePasswords.forEach((togglePassword) => {
        togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === 'password' ? 'text' : 'password';
        password.type = type
        confirmPassword.type = type
        // toggle the eye icon
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
        }); 
    })

  const passInput = document.getElementById('password')
  passInput.addEventListener('input', (e) => {
    if(e.target.value.length < 8) {
      passInput.classList.add('invalid')
      passInput.classList.remove('valid')
    }
    else {
      passInput.classList.remove('invalid')
      passInput.classList.add('valid')
    }
  })

  const passConInput = document.getElementById('confirm_password')
  passConInput.addEventListener('input', (e) => {
    if(e.target.value !== passInput.value) {
      passConInput.classList.add('invalid')
      passConInput.classList.remove('valid')
    }
    else {
      passConInput.classList.remove('invalid')
      passConInput.classList.add('valid')
    }
  })

  const changePasswordBtn = document.getElementById('changePassBtn')
  changePasswordBtn.addEventListener('click', () => {
    const messageElement = document.getElementById('successful')
    const formElement = document.getElementById('form')
    formElement.classList.add('d-none')
    messageElement.classList.remove('d-none')
    messageElement.classList.add('d-block')
  })
</script>

{% endblock %}