{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}سپاهان آرامش پرواز{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


<!-- Section: Design Block -->
<section class="text-center">
    <div class="p-5 bg-image" style="
      background-image: url('{% static 'img/1920x600/img1.jpg' %}');
      background-repeat: no-repeat;
      background-position: center;
      height: 40vh;
    "></div>

    <div class="container">
      <div class="card mx-4 mx-md-5 shadow-5-strong mt-n5" style="
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      ">
        <button type="button" class="btn col-12 col-lg-2 col-xl-2 mb-4 position-absolute top-0 left-0 start-0 p-3 d-flex justify-content-center align-content-center">
          <a href="{% url 'home' %}" class="text-primary mr-1">
            برگشت به خانه
          </a>
          <i>
            <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
            </svg>
          </i>
        </button>
        <div class="card-body py-5 px-md-5">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <h2 class="fw-bold mb-4">تغییر رمز عبور</h2>
              <div id="successful" class="mb-2 font-size-18">
                <span style="color: #37b24d;">رمز عبور شما با موفقیت انجام شد به صفحه لاگین منتقل میشوید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}