<!-- Input -->
<span class="d-block text-gray-1 text-left font-weight-normal mb-0">ورود و خروج</span>
<div class="border-bottom border-width-2 border-color-1">
    <div id="datepickerWrapperFromOne" class="u-datepicker input-group">
        <div class="input-group-prepend">
            <span class="d-flex align-items-center mr-2">
              <i class="flaticon-calendar text-warning font-weight-semi-bold"></i>
            </span>
        </div>
        <input id="dateRangePicker" type="text" class="font-size-16 shadow-none font-weight-medium form-control hero-form bg-transparent  border-0 datepic" placeholder="1402-06-20" value="{{ formatted_current_date}} تا ..">
    </div>
    <!-- End Datepicker -->
</div>
<!-- End Input -->