 {% load static %}
<!-- ========== HEADER ========== -->
        <header id="header" class="u-header u-header--abs-top-xl u-header--white-nav-links-xl u-header--bg-transparent-xl u-header--show-hide-xl" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__shadow-on-show-hide py-4 py-xl-0">
                <!-- Topbar -->
                <div class="container-fluid u-header__hide-content u-header__topbar u-header__topbar-lg border-bottom border-color-white">
                    <div class="d-flex align-items-center">
                        <ul class="list-inline u-header__topbar-nav-divider mb-0">
                            <li class="list-inline-item mr-0"><a href="tel:(000)999-898-999" class="u-header__navbar-link">09200701700</a></li>
                            <li class="list-inline-item mr-0"><a href="mailto:info@myhotel.com" class="u-header__navbar-link">info@borobia.com</a></li>
                        </ul>
                        <div class="ml-auto d-flex align-items-center">
                            <ul class="list-inline mb-0 mr-2 pr-1">
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-icon btn-pill btn-soft-white btn-bg-transparent transition-3d-hover" href="#" target="_blank">
                                        <span class="fab btn-icon__inner"><img  src="{% static 'img/icons/w-eitaa.png' %}" alt="eitaa" style="font-size:16px"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-icon btn-pill btn-soft-white btn-bg-transparent transition-3d-hover" href="#" target="_blank">
                                        <span class="fab btn-icon__inner"><img  src="{% static 'img/icons/w-bale.png' %}" alt="bale" style="font-size:16px"></span>
                                    </a>
                                     <li class="list-inline-item">
                                    <a class="btn btn-sm btn-icon btn-pill btn-soft-white btn-bg-transparent transition-3d-hover" href="#" target="_blank">
                                        <span class="fab btn-icon__inner"><img src="{% static 'img/icons/ww-rubika.png' %}" alt="rubika" style="font-size:16px"></span>
                                    </a>
                                </li>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-icon btn-pill btn-soft-white btn-bg-transparent transition-3d-hover" href="#" target="_blank">
                                        <span class="fab fa-whatsapp btn-icon__inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-sm btn-icon btn-pill btn-soft-white btn-bg-transparent transition-3d-hover" href="https://www.instagram.com/" target="_blank">
                                        <span class="fab fa-instagram btn-icon__inner"></span>
                                    </a>
                                </li>

                            </ul>
                            <div class="position-relative px-3 u-header__topbar-divider">

                                {% if user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="d-flex align-items-center text-white">
                                    <i class="flaticon-user mr-2 ml-1"></i>
                                    <span class="d-inline-block font-size-14 mr-1">{{ user.first_name }} {{ user.last_name }}</span>
                                </a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="d-flex align-items-center text-white">
                                    <i class="flaticon-user mr-2 ml-1"></i>
                                    <span class="d-inline-block font-size-14 mr-1">ورود به حساب کاربری</span>
                                </a>
                                {% endif %} 

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Topbar -->
                <div id="logoAndNav"  class="container-fluid py-1">
                    <!-- Nav -->
                    <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space" >
                        <!-- Logo -->
                        <a class="navbar-brand u-header__navbar-brand-default u-header__navbar-brand-center u-header__navbar-brand-text-white" href="{% url 'home' %}" aria-label="MyHotel">
                            <img src="{% static 'img/logo/purelogo.png' %}" style="max-width: 100%;height: 30px;" alt="My Icon">
                            <span class="u-header__navbar-brand-text" style="color: #ffcc00;">برو بیا</span>
                        </a>
                        <!-- End Logo -->
                        <!-- End Handheld Logo -->

                        <!-- Scroll Logo -->
                        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-on-scroll"  href="{% url 'home' %}" aria-label="MyHotel">
                            <img src="{% static 'img/logo/purelogo.png' %}" style="max-width: 100%;height: 30px;" alt="My Icon">
                            <span class="u-header__navbar-brand-text" style="color: #ffcc00;">برو بیا</span>
                        </a>
                        <!-- End Scroll Logo -->

                        <!-- Responsive Toggle Button -->
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--primary order-2 ml-3" aria-label="ناوبری را تغییر دهید" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span id="hamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->

                        <!-- Navigation -->
                        <div id="navBar" class="navbar-collapse u-header__navbar-collapse collapse order-2 order-xl-0 pt-4 p-xl-0 position-relative">
                            <ul class="navbar-nav u-header__navbar-nav">
                                <!-- Home -->
{#                                <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">#}
                                    <a  class="nav-link u-header__nav-link u-header__nav-link-border" href="/"><i class="flaticon-hotel-1 mr-2 ml-1 "></i> هتل</a>
{#                                </li>#}
                                <!-- End Home -->

                                <!-- Hotel -->
                                    <a  class="nav-link u-header__nav-link u-header__nav-link-border" href="https://sap19.ir/" ><i class="bi bi-airplane  mr-2 ml-1"></i> پرواز</a>
                                <!-- End Hotel -->
                                <!-- About -->
                                    <a  class="nav-link u-header__nav-link u-header__nav-link-border" href="{% url 'taxi-home' %}" ><i class="bi bi-taxi-front-fill  mr-2 ml-1"></i> تاکسی</a>
                                <!-- End About -->

                            </ul>
                        </div>
                        <!-- End Navigation -->

                        <!-- Logo -->
                        <div class="d-lg-none d-xl-none   mr-auto">
                           <a href="{% url 'home' %}" aria-label="MyHotel">
                            <img src="{% static 'img/logo/purelogo.png' %}" style="max-width: 100%;height: 30px;" alt="My Icon">
                            <span class="u-header__navbar-brand-text" style="color: #ffcc00;">برو بیا</span>
                        </a>
                        </div>
                        <!-- End Logo -->

                        <!-- Shopping Cart -->
                        <div class="d-lg-none d-xl-none ">
                            <div class="position-relative u-header__topbar-divider">

                                {% if user.is_authenticated %}
                                <a href="{% url 'profile' %}" class="d-flex align-items-center text-primary">
                                    <i class="flaticon-user mr-2 ml-1 "></i>
                                </a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="d-flex align-items-center text-primary">
                                    <i class="flaticon-user mr-2 ml-1"></i>
                                </a>
                                {% endif %}

                            </div>
                        </div>
                        <!-- End Shopping Cart -->


                    </nav>
                    <!-- End Nav -->
                </div>
            </div>
        </header>
        <!-- ========== End HEADER ========== -->
