<nav aria-label="پیمایش صفحه">
    <ul class="list-pagination-1 pagination border border-color-4 rounded-sm overflow-auto overflow-xl-visible justify-content-md-center align-items-center py-2 mb-0">
        <li class="page-item">
            <a class="page-link border-right rounded-0 text-gray-5" href="#" aria-label="قبلی">
                <i class="flaticon-left-direction-arrow font-size-10 font-weight-bold"></i>
                <span class="sr-only">قبلی</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link font-size-14" href="#">1</a></li>
        <li class="page-item"><a class="page-link font-size-14 active" href="#">2</a></li>
        <li class="page-item"><a class="page-link font-size-14" href="#">3</a></li>
        <li class="page-item"><a class="page-link font-size-14" href="#">4</a></li>
        <li class="page-item"><a class="page-link font-size-14" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link border-left rounded-0 text-gray-5" href="#" aria-label="بعد">
                <i class="flaticon-right-thin-chevron font-size-10 font-weight-bold"></i>
                <span class="sr-only">بعد</span>
            </a>
        </li>
    </ul>
</nav>