{#{% extends 'base.html' %}#}
{% load static %}

<!-- ========== HEADER ========== -->
        <header id="header" class="u-header u-header--dark-nav-links-xl u-header--show-hide-xl u-header--static-xl" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__shadow-on-show-hide py-4 py-xl-0">

                <div id="logoAndNav"  class="container-fluid py-1">
                    <!-- Nav -->
                    <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space" >
                        <!-- Logo -->
                        <a class="navbar-brand u-header__navbar-brand-default u-header__navbar-brand-center u-header__navbar-brand-text-white" href="{% url 'home' %}" aria-label="MyHotel">
                            <img src="{% static 'img/logo/purelogo.png' %}" style="max-width: 100%;height: 30px;" alt="My Icon">
                            <span class="u-header__navbar-brand-text" style="color: #ffcc00;">برو بیا</span>
                        </a>
                        <!-- End Logo -->
                        <!-- End Handheld Logo -->



                        <!-- Responsive Toggle Button -->
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--primary order-2 ml-3" aria-label="ناوبری را تغییر دهید" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span id="hamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->

                        <!-- Navigation -->
                        <div id="navBar" class="navbar-collapse u-header__navbar-collapse collapse order-2 order-xl-0 pt-4 p-xl-0 position-relative">
                            <ul class="navbar-nav u-header__navbar-nav">
                                 <!-- Home -->
{#                                <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">#}
                                    <a id="homeMenu" class="nav-link u-header__nav-link u-header__nav-link-border" href="/">صفحه اصلی</a>
{#                                </li>#}
                                <!-- End Home -->

                                <!-- Hotel -->
                                    <a id="hotelMenu" class="nav-link u-header__nav-link u-header__nav-link-border" href="https://sap19.ir/" >رزرو پرواز</a>
                                <!-- End Hotel -->
                                <!-- About -->
                                    <a id="hotelMenu" class="nav-link u-header__nav-link u-header__nav-link-border" href="{% url 'taxi-home' %}" >درخواست تاکسی</a>
                                <!-- End About -->


                            </ul>
                        </div>
                        <!-- End Navigation -->

                        <!-- Shopping Cart -->
                        <div class="pl-2 pl-md-4 ml-auto shopping-cart">
                            <a id="shoppingCartDropdownInvoker" class="btn-text-secondary py-4 position-relative" href="javascript:;" role="button" aria-controls="shoppingCartDropdown" aria-haspopup="true" aria-expanded="false" data-unfold-event="hover" data-unfold-target="#shoppingCartDropdown" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                <span class="flaticon-shopping-basket font-size-25 text-primary-max-lg"></span>
                            </a>
               </div>
                        <!-- End Shopping Cart -->

                        <!-- Button -->

                        <!-- End Button -->
                    </nav>
                    <!-- End Nav -->
                </div>
            </div>
        </header>
        <!-- ========== END HEADER ========== -->