{#{% extends 'base.html' %}#}
{% load static %}

<!-- ========== HEADER ========== -->
        <header id="header" class="u-header u-header--dark-nav-links-xl u-header--show-hide-xl u-header--static-xl" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__shadow-on-show-hide py-4 py-xl-0">

                <div id="logoAndNav"  class="container-fluid py-1">
                    <!-- Nav -->
                    <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space" >
                        <!-- Logo -->
                        <a class="navbar-brand u-header__navbar-brand-default u-header__navbar-brand-center u-header__navbar-brand-text-white" href="{% url 'home' %}" aria-label="MyHotel">
                            <img src="{% static 'img/logo/boroobia.png' %}" style="max-width: 100%;height: 40px;" alt="My Icon">
{#                            <span class="u-header__navbar-brand-text" style="color: #ffcc00;">برو بیا</span>#}
                        </a>
                        <!-- End Logo -->
                        <!-- End Handheld Logo -->



                        <!-- Responsive Toggle Button -->

                        <!-- End Responsive Toggle Button -->




                        <!-- Button -->

                        <!-- End Button -->
                    </nav>
                    <!-- End Nav -->
                </div>
            </div>
        </header>
        <!-- ========== END HEADER ========== -->