.contact-icon svg{
    width: 16px;
    height: 16px;
    margin: 0;
    margin-top: 2px;
}

.contact-icon:hover path{
    stroke:white
}

#nav-item-hover:hover {
    color: #fc0;
}

.card-odd-down:nth-child(odd){
    margin-top: 200px !important;
}