{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}سپاهان آرامش پرواز{% endblock %}
{% block header %}
{% endblock %}
{% block content %}


</body>
    <!-- Section: Design Block -->
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('{% static 'img/1920x600/img1.jpg' %}');
        background-repeat:no-repeat;
        background-position:center;
        height: 40vh;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">وارد اکانت خود شوید</h2>
          <form action="" method="POST" class="form">
              {% csrf_token %}

            <!-- 2 column grid layout with text inputs for the first and last names -->

            <p class="text-danger">{{ error_message }}</p>
            <!-- Email input -->
            <div class="form-outline mb-4">

                {{loginForm.phone.label_tag}}
                {{loginForm.phone}}
                {{loginForm.phone.errors}}
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">

                {{loginForm.password.label_tag}}
                {{loginForm.password}}
                {{loginForm.password.errors}}

                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  <input class="form-control" type="password" id="password" name="password" placeholder="Password" value="">
                  <span class="input-group-text"><i class="far fa-eye-slash" id="togglePassword"></i></span>
                </div>

            </div>
            <!-- Submit button -->
              <div>
                <button type="submit" class="btn col-lg-4 col-xl-4 btn-primary mb-4 mr-10">
                  ورود
                </button>
                <button type="button" class="btn col-lg-4 col-xl-4 btn-primary mb-4">
                  <a href="{% url 'register' %}" class="text-white">
                  ثبت نام
                  </a>
                </button>
              </div>
              <button type="button" class="btn col-lg-2 col-xl-2 btn-outline-primary mb-4 font-size-12">فراموشی رمز عبور</button>
              <button type="button" class="btn col-lg-2 col-xl-2 btn-outline-primary mb-4 font-size-12">ورود با رمز یک بار مصرف</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");
  
  togglePassword.addEventListener("click", function () {
     
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // toggle the eye icon
    this.classList.toggle('fa-eye-slash');
    this.classList.toggle('fa-eye');
  });
</script>
{% endblock %}
