{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block title %}سپاهان آرامش پرواز{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

    <!-- Section: Design Block -->
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('{% static 'img/1920x600/img6.jpg' %}');
        background-repeat:no-repeat;
        background-position:center;
        height: 40vh;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">حساب جدید بسازید</h2>
          <form action="" method="POST" class="form">
              {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->

    <h5 class="fw-bold mb-5">اطلاعات حساب کاربری</h5>
              <div class="row">
              <!-- Username input -->
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        <a title="اجباری"><span class="text-danger font-size-1 fas fa-asterisk"></span> {{registerForm.phone.label_tag}}</a>
                        {{registerForm.phone}}
                        {{registerForm.phone.errors}}
                    </div>
                </div>
             <!-- Email input -->
                <div class="col-lg-6 col-md-6 mb-4">
                    {{registerForm.email.label_tag}}
                    {{registerForm.email}}
                    {{registerForm.email.errors}}
                </div>
            </div>
            <div class="row">
                 <!-- Password input -->
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        <a title="اجباری"><span class="text-danger font-size-1 fas fa-asterisk"></span> {{registerForm.password.label_tag}}</a>
                        {{registerForm.password}}
                        <p class="text-red-lighter-1 font-size-14">رمز عبور باید حداقل 8 کاراکتر باشد</p>
                        {{registerForm.password.errors}}
                    </div>
                </div>

                <!-- Confirm Password input -->
                <div class="col-lg-6 col-md-6 mb-4">
                    <a title="اجباری"><span class="text-danger font-size-1 fas fa-asterisk"></span> {{registerForm.confirm_password.label_tag}}</a>
                    {{registerForm.confirm_password}}
                    {{registerForm.confirm_password.errors}}
                </div>
            </div>
              <div class="border-top border-width-2 border-color-1"></div>
              <br>
           <h5 class="fw-bold mb-5">اطلاعات شخصی</h5>
            <!-- Email input -->
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        {{registerForm.first_name.label_tag}}
                        {{registerForm.first_name}}
                        {{registerForm.first_name.errors}}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        {{registerForm.last_name.label_tag}}
                        {{registerForm.last_name}}
                        {{registerForm.last_name.errors}}
                    </div>
                </div>
            </div>
              <div class="row">

                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        {{registerForm.nid.label_tag}}
                        {{registerForm.nid}}
                        {{registerForm.nid.errors}}
                    </div>
                </div>
                  <div class="col-lg-6 col-md-6 mb-4">
                    <div class="form-outline">
                        {{registerForm.birthdate.label_tag}}
                        {{registerForm.birthdate}}
                        {{registerForm.birthdate.errors}}
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              ثبت نام
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<style>
  .invalid{
    border-color: #f03e3e;
    color: #f03e3e;
  }
  
  .invalid:focus{
    border-color: #f03e3e;
    box-shadow: 0 0 8px #ffa8a8;
  }
  
  .valid{
    border-color: #37b24d;
    color: #37b24d;
  }
  .valid:focus{
    border-color: #37b24d;
    box-shadow: 0 0 8px #8ce99a;
  }

  #id_phone::-webkit-inner-spin-button{
    display: none;
  }

  #id_phone{
    -moz-appearance: textfield;
  }

</style>

<script defer>
  const telInput = document.getElementById('id_phone')
  telInput.setAttribute('type', 'number')
  telInput.setAttribute('autocomplete',"tel")
  telInput.addEventListener('input', (e) => {
    e.target.value = '0' + (Math.abs(+e.target.value) !== 0 ? Math.abs(+e.target.value) : '')
    if(e.target.value.length !== 11) {
      telInput.classList.add('invalid')
      telInput.classList.remove('valid')
    }
    else {
      telInput.classList.remove('invalid')
      telInput.classList.add('valid')
    }
  })

  const passInput = document.getElementById('id_password')
  passInput.addEventListener('input', (e) => {
    if(e.target.value.length < 8) {
      passInput.classList.add('invalid')
      passInput.classList.remove('valid')
    }
    else {
      passInput.classList.remove('invalid')
      passInput.classList.add('valid')
    }
  })

  const passConInput = document.getElementById('id_confirm_password')
  passConInput.addEventListener('input', (e) => {
    if(e.target.value !== passInput.value) {
      passConInput.classList.add('invalid')
      passConInput.classList.remove('valid')
    }
    else {
      passConInput.classList.remove('invalid')
      passConInput.classList.add('valid')
    }
  })
</script>
{% endblock %}
