
{% extends 'base.html' %}
{% load static %}
{% load humanize %}

        <!-- Title -->
{% block title %}برو بیا | هتل {{ hotel.faname }} {{ city.faname }}{% endblock %}
{% block header %}
<link href="{% static 'js/date-picker/assets/css/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'js/date-picker/assets/css/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
{% endblock %}
{% block content %}

{% include 'include/list-header.html' %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content">
            <!-- Breadcrumb -->
            <div class="border-bottom">
                <div class="container">
                    <nav class="py-3" aria-label="خرده نان">
                        <ol class="breadcrumb breadcrumb-no-gutter mb-0 flex-nowrap flex-xl-wrap  overflow-xl-visble">
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'home' %}">صفحه اصلی</a></li>
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'hotel-list' city_slug=city.slug %}" class="hotel-link" >هتل های {{ city.faname }}</a></li>
                            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="{% url 'hotel-single' city_slug=city.slug hotel_slug=hotel.slug %}" class="hotel-link">هتل {{ hotel.faname }}</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- End Breadcrumb -->
            <div class="mb-8">
                <!-- Images Carousel -->
                <div class="js-slick-carousel u-slick u-slick__img-overlay" data-arrows-classes="d-none d-md-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="flaticon-back u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-md-4 ml-xl-8" data-arrow-right-classes="flaticon-next u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-md-4 mr-xl-8" data-infinite="true" data-slides-show="1" data-slides-scroll="1" data-center-mode="true" data-pagi-classes="d-md-none text-center u-slick__pagination mt-5 mb-0" data-center-padding="450px" data-responsive="[{
                        &quot;breakpoint&quot;: 1480,
                        &quot;settings&quot;: {
                            &quot;centerPadding&quot;: &quot;300px&quot;
                        }
                    }, {
                        &quot;breakpoint&quot;: 1199,
                        &quot;settings&quot;: {
                            &quot;centerPadding&quot;: &quot;200px&quot;
                        }
                    }, {
                        &quot;breakpoint&quot;: 992,
                        &quot;settings&quot;: {
                            &quot;centerPadding&quot;: &quot;120px&quot;
                        }
                    }, {
                        &quot;breakpoint&quot;: 554,
                        &quot;settings&quot;: {
                            &quot;centerPadding&quot;: &quot;20px&quot;
                        }
                    }]">
                {% for image in hotel.gallery.all %}
                    <div class="js-slide bg-img-hero min-height-550" style="background-image: url( {{ image.file.url }} );"></div>
                {% endfor %}


                </div>
                <!-- End Images Carousel -->
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="d-block d-md-flex flex-center-between align-items-start mb-2">
                            <div class="mb-3">
                                <ul class="list-unstyled mb-2 d-md-flex flex-lg-wrap flex-xl-nowrap mb-2">
                                    {% if hotel.special_offer %}
                                    <li class="border border-brown bg-brown rounded-xs d-flex align-items-center text-lh-1 py-1 px-3 mr-md-2 mb-2 mb-md-0 mb-lg-2 mb-xl-0">
                                            <span class="font-weight-normal text-white font-size-14">آفر ویژه</span>
                                    </li>
                                    {% endif %}

                                </ul>
                                <div class="d-block d-md-flex flex-horizontal-center mb-2 mb-md-0">
                                    <h4 class="font-size-23 font-weight-bold mb-1">{{ hotel.faname }}</h4>
                                    <div class="ml-3 font-size-10 text-warning letter-spacing-2">
                                        <div class="lighter">
                                            {% for _ in "x"|rjust:hotel.starts %}
                                                <small class="fas fa-star"></small>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block d-md-flex flex-horizontal-center font-size-14 text-gray-1">
                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i>{{ hotel.address }}

                                </div>
                            </div>
                        </div>
                        <div id="stickyBlockStartPoint" class="mb-4 ">
                            <div class="border rounded-pill js-sticky-block p-1 border-width-2  z-index-4 bg-white" data-parent="#stickyBlockStartPoint" data-offset-target="#logoAndNav" data-sticky-view="lg" data-start-point="#stickyBlockStartPoint" data-end-point="#stickyBlockEndPoint" data-offset-top="30" data-offset-bottom="30">
                                <ul class="js-scroll-nav nav tab-nav-pill flex-nowrap tab-nav">
                                    <li class="nav-item">
                                        <a class="nav-link font-weight-medium " href="#scroll-description">
                                            <div class="d-flex flex-column  flex-md-row  position-relative text-dark align-items-center">
                                                <span class="tabtext  font-weight-semi-bold">شرح</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link font-weight-medium" href="#scroll-rooms">
                                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                                <span class="tabtext font-weight-semi-bold">اتاق ها</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link font-weight-medium" href="#scroll-amenities">
                                            <div class="d-flex flex-column flex-md-row  position-relative text-dark align-items-center">
                                                <span class="tabtext font-weight-semi-bold">امکانات رفاهی</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="border-bottom position-relative">
                            <h5 id="scroll-description" class="font-size-21 font-weight-bold text-dark">
                                شرح
                            </h5>
                            <p>{{ hotel.description}}.</p>

                            <div class="collapse" id="collapseLinkExample">
                                <p>&zwnj;{{ hotel.explanation }}.</p>
                            </div>

                            <a class="link-collapse link-collapse-custom gradient-overlay-half mb-5 d-inline-block border-bottom border-warning" data-toggle="collapse" href="#collapseLinkExample" role="button" aria-expanded="false" aria-controls="collapseLinkExample">
                                <span class="link-collapse__default font-size-14">بیشتر ببینید<i class="flaticon-down-chevron font-size-10 ml-1"></i></span>
                                <span class="link-collapse__active font-size-14">مشاهده کمتر<i class="flaticon-arrow font-size-10 ml-1"></i></span>
                            </a>
                        </div>
                        <div class="border-bottom py-4">
                            <h5 id="scroll-rooms" class="font-size-21 font-weight-bold text-dark mb-4">
                                اتاق خود را انتخاب کنید
                            </h5>
                        {% for room in rooms %}
                        <div class="card border-color-7 mb-5 overflow-hidden">
                                <div class="product-item__outer w-100">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-5 col-xl-3dot5">
                                            <div class="pt-5 pb-md-5 pl-4 pr-4 pl-md-5 pr-md-2 pr-xl-2">
                                                <div class="product-item__header mt-2 mt-md-0">
                                                    <div class="position-relative">

                                                        <img class="img-fluid rounded-sm" src="{{ room.image.url }}" alt="{{ room.image.url }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-7 col-lg-7 col-xl-5 flex-horizontal-center pl-xl-0">
                                            <div class="w-100 position-relative m-4 m-md-0">
                                                <a href="{% url 'hotel-confirm' reserve_confirm=reserve_code  confirm_city_slug=city.slug hotel_slug=hotel.slug room_slug=room.slug %}" class="mb-2 d-inline-block hotel-link">
                                                    <span class="font-weight-bold font-size-17 text-dark text-dark">{{ room.faname }}</span>
                                                </a>
                                                <div class="mt-1 pt-2">
                                                    <div class="d-flex mb-1">
                                                        <div class="ml-0">
                                                            <ul class="list-unstyled mb-0">
                                                                {% for f in room.facilities.all %}
                                                                <li class="media mb-3 text-gray-1">
                                                                    <small class="mr-2">
                                                                        <small class="flaticon-{{ f.name }} font-size-17 text-warning"></small>
                                                                    </small>
                                                                    <div class="media-body font-size-1 ml-1">
                                                                        {{ f.faname}}
                                                                    </div>
                                                                </li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                        <div class="ml-7">
                                                            <ul class="list-unstyled mb-0">
                                                                <li class="media mb-3 text-gray-1">
                                                                    <small class="mr-2">
                                                                        <small class="flaticon-plans font-size-17 text-warning"></small>
                                                                    </small>
                                                                    <div class="media-body font-size-1 ml-1">
                                                                        15 متر مربع
                                                                    </div>
                                                                </li>
                                                                <li class="media mb-3 text-gray-1">
                                                                    <small class="mr-2">
                                                                        <small class="flaticon-bed-1 font-size-17 text-warning"></small>
                                                                    </small>
                                                                    <div class="media-body font-size-1 ml-1">
                                                                        {{ room.bed }} تخت
                                                                    </div>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn text-primary text-underline hotel-details-btn font-size-14">عکس و جزئیات اتاق</button>
                                                    <div class="overlay">
                                                        <div class="hotel-details">
                                                            <button class="btn overlay-close"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                              </svg>
                                                              </button>
                                                              <div class="hotel-content-grid">
                                                                  <section>
                                                                      <h3 class="hotel-title">اتاق {{ room.faname }}</h3>
                                                                      <p>از <span class="hotel-price">{{ room.format_price }} تومن</span> / شب</p>
                                                                  </section>
                                                                  <div class="hotel-content">
                                                                      <hr>
                                                                    <section>
                                                                        <h3 class="hotel-facilities-title">امکانات رفاهی</h3>
                                                                        <ul class="hotel-facilities">
                                                                            {% for facility in room.facilities.all %}
                                                                            <li class="list-group-items">{{ facility.faname }}</li>
                                                                            {% endfor %}



                                                                        </ul>
                                                                    </section>
                                                                </div>
                                                              </div>
                                                            <div class="hotel-pics">
                                                                <img src="{% static 'img\1920x750\img4.png' %}" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-xl-3dot5 align-self-center py-4 py-xl-0 border-top border-xl-top-0">
                                            <div class="flex-content-center border-xl-left py-xl-5 ml-4 ml-xl-0 justify-content-start justify-content-xl-center">
                                                <div class="text-center my-xl-1">
                                                    <div class="mb-2 pb-1">
                                                        <span class="font-size-14">از </span>
                                                        <span class="font-weight-bold font-size-22 ml-1">{{ room.format_price }} تومان</span>
                                                        <span class="font-size-14">/ شب</span>
                                                    </div>
                                                    <a href="{% url 'hotel-confirm' reserve_confirm=reserve_code confirm_city_slug=city.slug hotel_slug=hotel.slug room_slug=room.slug %}" class="btn btn-outline-warning border-radius-3 border-width-2 px-4 font-weight-bold min-width-200 py-2 text-lh-lg hotel-link">اکنون ثبت کن</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <h5 id="scroll-amenities" class="font-size-21 font-weight-bold text-dark mb-4">
                                امکانات رفاهی
                            </h5>


                            <ul class="list-group list-group-borderless list-group-horizontal list-group-flush no-gutters row">
                                {% for f in hotel.facilities.all %}
                                    <li class="col-md-4 list-group-item">
                                        <i class="flaticon-{{ f.name }} mr-3 text-warning font-size-24"></i>{{ f.faname }}
                                    </li>
                                {% endfor %}



                                 </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 col-xl-3">


                        <div class="mb-4">
                            <form id="myForm" action="" method="GET" class="js-validate">
                            <div id="stickyBlockStartPoint1">
                                <div class="js-sticky-block border border-color-7 rounded mb-5 bg-white" data-parent="#stickyBlockStartPoint1" data-offset-target="#logoAndNav" data-sticky-view="lg" data-start-point="#stickyBlockStartPoint1" data-end-point="#stickyBlockEndPoint1" data-offset-top="30" data-offset-bottom="30">
                                    <div class="border-bottom">
                                        <div class="p-4">
                                            <span class="font-size-14">از </span>
                                            <span class="font-size-24 text-gray-6 font-weight-bold ml-1">{{  hotel.min_price }} تومان </span>
                                            <span class="font-size-14">/ شب</span>
                                        </div>
                                    </div>
                                    <div class="p-4">
                                        <!-- Input -->
                                        <div class="mb-4">
                                            <div class="border-bottom border-width-2 border-color-1">
                                                {% include 'include/date-picker.html' %}
                                            </div>
                                        </div>
                                        <!-- End Input -->
                                        <!-- Input -->
                                        <span class="d-block text-gray-1 font-weight-normal mb-0 text-left">میهمانان</span>
                                        <div class="mb-4 position-relative">
                                            <div class="border-bottom border-width-2 border-color-1">
                                                <a id="basicDropdownClickInvoker" class="dropdown-nav-link dropdown-toggle flex-horizontal-center pt-3 pb-2" href="javascript:;" role="button" aria-controls="basicDropdownClick" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#basicDropdownClick" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                                    <i class="flaticon-add-group d-flex align-items-center mr-3 font-size-20 text-warning font-weight-semi-bold"></i>
                                                    <span class="text-black font-size-16 font-weight-semi-bold mr-auto" id="roomInfo">2 اتاق - 3 مهمان</span>
                                                </a>
                                                <div id="basicDropdownClick" class="dropdown-menu dropdown-unfold col m-0" aria-labelledby="basicDropdownClickInvoker">
                                                    <div class="w-100 py-2 px-3 mb-3">
                                                        <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                            <span class="d-block font-size-16 text-secondary font-weight-medium">اتاق ها</span>
                                                            <div class="d-flex">
                                                                <a class="js-minuss btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-minus btn-icon__inner"></small>
                                                                </a>
                                                                <input  id="roomInput" class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center" type="text" value="1">
                                                                <a class="js-pluss btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-plus btn-icon__inner"></small>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w-100 py-2 px-3 mb-3">
                                                        <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                            <span class="d-block font-size-16 text-secondary font-weight-medium">بزرگسالان</span>
                                                            <div class="d-flex">
                                                                <a class="js-minuss btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-minus btn-icon__inner"></small>
                                                                </a>
                                                                <input class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center " id="passInput" type="text" value="1">
                                                                <a class="js-pluss guest-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-plus btn-icon__inner"></small>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w-100 py-2 px-3">
                                                        <div class="js-quantity mx-3 row align-items-center justify-content-between">
                                                            <span class="d-block font-size-16 text-secondary font-weight-medium">کودک</span>
                                                            <div class="d-flex">
                                                                <a class="js-minus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-minus btn-icon__inner"></small>
                                                                </a>
                                                                <input id="childInput" class="js-result form-control h-auto border-0 rounded p-0 max-width-6 text-center " type="text" value="1">
                                                                <a class="js-plus btn btn-icon btn-medium btn-outline-secondary rounded-circle" href="javascript:;">
                                                                    <small class="fas fa-plus btn-icon__inner"></small>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="w-100 text-right py-1 pr-5">
                                                        <button type="button" class="btn btn-warning transition-3d-hover done-link font-weight-semi-bold font-size-16" >انجام شده</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Input -->

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-warning height-60 w-100 mb-xl-0 mb-lg-1 transition-3d-hover"><i class="flaticon-magnifying-glass mr-2"></i>جستجو کردن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="stickyBlockEndPoint1"></div>
                <!-- Product Cards Ratings With carousel -->
                <div class="product-card-block product-card-v3">
                    <div class="space-1">
                        <div class="w-md-80 w-lg-50 text-center mx-md-auto pb-4">
                            <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">پیشنهاد برو بیا</h2>
                        </div>
                        <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3" data-slides-show="4" data-slides-scroll="1" data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic v1 u-slick__arrow-classic--v1 u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left" data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right" data-pagi-classes="d-lg-none text-center u-slick__pagination mt-4" data-responsive="[{
                                &quot;breakpoint&quot;: 1025,
                                &quot;settings&quot;: {
                                    &quot;slidesToShow&quot;: 3
                                }
                            }, {
                                &quot;breakpoint&quot;: 992,
                                &quot;settings&quot;: {
                                    &quot;slidesToShow&quot;: 2
                                }
                            }, {
                                &quot;breakpoint&quot;: 768,
                                &quot;settings&quot;: {
                                    &quot;slidesToShow&quot;: 1
                                }
                            }, {
                                &quot;breakpoint&quot;: 554,
                                &quot;settings&quot;: {
                                    &quot;slidesToShow&quot;: 1
                                }
                            }]">

                            {% for h in hotels %}

                                {% if hotel.name != h.name %}

                                {% include 'include/hotel-card2.html' %}
                                {% endif %}
                            {% endfor %}



                        </div>
                    </div>
                </div>
                <!-- End Product Cards Ratings With carousel -->
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
        <!-- ========== FOOTER ========== -->

{% block footer %}
        {% include 'include/hotel-footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- ========== End FOOTER ========== -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'vendor/gmaps/gmaps.min.js' %}"></script>
        <script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'vendor/appear.js' %}"></script>


        <!-- JS MyTravel -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'js/components/hs.validation.js' %}"></script>
        <script src="{% static 'js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.range-datepicker.js' %}"></script>
        <script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
        <script src="{% static 'js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'js/components/hs.quantity-counter.js' %}"></script>
        <script src="{% static 'js/components/hs.g-map.js' %}"></script>
        <script src="{% static 'js/components/hs.fancybox.js' %}"></script>
        <script src="{% static 'js/components/hs.scroll-nav.js' %}"></script>
        <script src="{% static 'js/components/hs.sticky-block.js' %}"></script>
        <!-- JS Plugins Init. -->

        <!--JS Date Picker -->
        <script src="{% static 'js/date-picker/assets/js/moment.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/date-picker/assets/js/moment-jalaali.js' %}"></script>
        <script src="{% static 'js/date-picker/assets/js/daterangepicker-fa-ex.js' %}"></script>
        

        <style>
            .overlay-close{
                cursor: pointer !important;
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
                background-color: #fc3;
                border-radius: 50%;
            }

            .overlay-close svg{
                width: 25px;
                height: 25px;
            }

            .overlay.open{
                opacity: 1;
                pointer-events: all;
            }

            .overlay{
                opacity: 0;
                pointer-events: none;
                display: flex;
                justify-content: center;
                overflow-y: scroll;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 40px;
                z-index: 1002;
                transition: opacity 0.2s;
            }
            
            .hotel-details{
                position: relative;
                width: 1290px;
                height: 750px;
                display: grid;
                grid-template-columns: 290px 1000px;
                grid-template-rows: 100%;
                background-color: white;
                border-radius: 4px;
            }
            
            .hotel-details section{
                padding: 20px
            }

            .hotel-content-grid{
                display: grid;
                grid-template-rows: auto 1fr;
                height: 100%;
            }
            
            .hotel-content{
                overflow-y: scroll;
            }
            
            .hotel-content hr{
                height: 0.5px;
                margin: 0;
            }

            .hotel-pics img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .hotel-price{
                font-size: 22px;
            }

            .hotel-title{
                font-size: 20px;
            }

            .hotel-facilities-title{
                font-size: 20px;
                margin-bottom: 0;
                padding-bottom: 8px;
            }

            .hotel-facilities{
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .hotel-facilities li{
                font-size: 18px;
                padding: 20px;
            }

            @media screen and (max-width: 1420px){
                .overlay{
                    padding: 60px;
                }

                .hotel-details{
                    grid-template-columns: 290px auto;
                    width: auto;
                }
            }

            @media screen and (max-width: 999px){
                .hotel-details{
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    height: fit-content;
                }
                .hotel-content-grid{
                    grid-row: 2/3;
                    height: 500px;
                }
            }

            @media screen and (max-width: 690px) {
                .hotel-pics img{
                    object-fit: auto;
                    height: auto;
                }
                .hotel-details{
                    grid-template-rows: auto 1fr;
                }

            }

            /* Firefox */
            .hotel-content {
            scrollbar-width: thin;
            scrollbar-color: #A3A3A3 #FFFFFF;
            }

            /* Chrome, Edge and Safari */
            .hotel-content::-webkit-scrollbar {
            height: 10px;
            width: 10px;
            }
            .hotel-content::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: #FFFFFF;
            }

            .hotel-content::-webkit-scrollbar-track:hover {
            background-color: #FFFFFF;
            }

            .hotel-content::-webkit-scrollbar-track:active {
            background-color: #FFFFFF;
            }

            .hotel-content::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #A3A3A3;
            }

            .hotel-content::-webkit-scrollbar-thumb:hover {
            background-color: #A3A3A3;
            }

            .hotel-content::-webkit-scrollbar-thumb:active {
            background-color: #A3A3A3;
            }

        </style>

        <script>
        // Date Picker
        $(document).ready(function () {
        var night;
        var isRtl = true;
        var dateFormat = isRtl ? "jYYYY/jMM/jDD" : "YYYY/MM/DD";
        var dateFrom = false ? moment("") : undefined;
        var dateTo = false ? moment("") : undefined;
        var $dateRanger = $("#dateRangePicker");

        $dateRanger
          .daterangepicker({
            clearLabel: "Clear",
            autoUpdateInput: !!(dateFrom && dateTo),
            minDate: moment(),
            autoApply: true,
            opens: isRtl ? "left" : "right",
            locale: {
              separator: " - ",
              format: dateFormat,
            },
            startDate: dateFrom,
            endDate: dateTo,
            jalaali: isRtl,
            showDropdowns: true,
          })
          .on("apply.daterangepicker", function (ev, picker) {
            night = picker.endDate.diff(picker.startDate, "days");
            if (night > 0) {
              $(this).val(
                picker.startDate.format(dateFormat) +
                  " - " +
                  picker.endDate.format(dateFormat)
              );
            } else {
              $(this).val("");
            }
          });

        $(document).on(
          "mouseover",
          ".daterangepicker .calendar td",
          function () {
            var gagDate = $(this).attr("data-original-title");
            $(".date-hover").text("");
            $(".date-hover").text(gagDate);
          }
        );
      });

      //Room details overlay
        document.querySelectorAll('.hotel-details-btn').forEach((btn) => {
            const newBtn = btn.cloneNode(true)
            btn.parentNode.replaceChild(newBtn, btn)
            newBtn.nextElementSibling.querySelector('.overlay-close').addEventListener('click', () => {
                newBtn.nextElementSibling.classList.remove('open')
            })
            newBtn.addEventListener('click',(e) => {
                e.preventDefault()
                newBtn.nextElementSibling.classList.add('open')
            })
        })

        document.querySelectorAll('.hotel-content').forEach((content) => {
            const contentList = content.querySelector('.hotel-facilities')
            const lastListItem = contentList.children[contentList.children.length - 1]
            const hrHeight = content.querySelector('hr').getBoundingClientRect().height
            const titleHeight = content.querySelector('.hotel-facilities-title').getBoundingClientRect().height
            const listHeight = contentList.getBoundingClientRect().height
            const lastListItemHeight = lastListItem.getBoundingClientRect().height
            const lastListItemOffsetToList = lastListItem.offsetTop
            const lastListItemOffsetToContent = lastListItemOffsetToList + titleHeight + hrHeight
            if(lastListItemHeight + lastListItemOffsetToContent > content.getBoundingClientRect().height) content.style.overflowY = 'scroll'
            else content.style.overflowY = 'hidden'
        })

        const urlParams = new URLSearchParams(window.location.search);

            // خواندن مقدار پارامترها از URL با استفاده از نام پارامترها
            const dateValue = urlParams.get('date');
            const roomValue = urlParams.get('room');
            const passValue = urlParams.get('passengers');
            const childValue = urlParams.get('children');

            // اختصاص مقادیر به فیلدهای مربوطه
            document.getElementById('dateRangePicker').value = dateValue;
            document.getElementById('passInput').value = passValue;
            document.getElementById('childInput').value = childValue;
            document.getElementById('roomInput').value = roomValue;

            const roomInfoSpan = document.getElementById('roomInfo');
            roomInfoSpan.textContent = `${roomValue} اتاق - ${passValue} بزرگسال، ${childValue} خردسال`;
            const doneLink = document.querySelectorAll('.done-link');
    // اضافه کردن event listener به هر لینک
    doneLink.forEach(link => {
        link.addEventListener('click', function(event) {
            const Adult = document.getElementById('passInput').value;
        const Child = document.getElementById('childInput').value;
        const Room = document.getElementById('roomInput').value;

        const roomInfoSpan = document.getElementById('roomInfo');
            roomInfoSpan.textContent = `${Room} اتاق - ${Adult} بزرگسال، ${Child} کودک`;});});
            $(window).on('load', function () {

                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // Page preloader
                setTimeout(function() {
                  $('#jsPreloader').fadeOut(500)
                }, 800);
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of google map
                function initMap() {
                    $.HSCore.components.HSGMap.init('.js-g-map');
                }

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

                // initialization of select
                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of sticky blocks
                $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                    duration: 700
                });
            });
        document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Get the value entered by the user
                var dateValue = document.getElementById('dateRangePicker').value;
                var passValue = document.getElementById('passInput').value;
                var childValue = document.getElementById('childInput').value;
                var roomValue = document.getElementById('roomInput').value;
                
                // Create the URL with the search value
                const url = `${encodeURIComponent(searchValue)}?date=${encodeURIComponent(dateValue)}&passengers=${encodeURIComponent(passValue)}&children=${encodeURIComponent(childValue)}&room=${encodeURIComponent(roomValue)}`;

                // Redirect the user to the new URL
                window.location.href = url;


            });
        const hotelLinks = document.querySelectorAll('.hotel-link');

    // اضافه کردن event listener به هر لینک
    hotelLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // جلوگیری از اجرای عملکرد پیش‌فرض لینک

            // اطلاعات مورد نیاز برای ارسال در URL
                var dateValue = document.getElementById('dateRangePicker').value;
                var passValue = document.getElementById('passInput').value;
                var childValue = document.getElementById('childInput').value;
                var roomValue = document.getElementById('roomInput').value;
                
                // Create the URL with the search value
                const url = `${link.getAttribute('href')}?date=${encodeURIComponent(dateValue)}&passengers=${encodeURIComponent(passValue)}&children=${encodeURIComponent(childValue)}&room=${encodeURIComponent(roomValue)}`;

                // Redirect the user to the new URL
                window.location.href = url;

        });
    });

    // minus and plus button
    const roomInput = document.querySelector('#roomInput')
    const guestInput = document.querySelector('#passInput')

    //logic for decreasing the number for room & adults amount reservation
    const minusBtns = document.querySelectorAll('.js-minuss')
    minusBtns.forEach((btn) => btn.addEventListener('click', () => btn.nextElementSibling.value = btn.nextElementSibling.value >= 2 ? +btn.nextElementSibling.value - 1 : btn.nextElementSibling.value ))
    
    //logic for increasing the number for room amount reservation
    const plusRoomBtn = document.querySelector('.js-pluss')
    plusRoomBtn.addEventListener('click', () => roomInput.value = roomInput.value < 4 ? +roomInput.value + 1 : roomInput.value )
    
    //logic for increasing the number for adults amount reservation
    const plusGuestBtn = document.querySelector('.guest-plus')
    plusGuestBtn.addEventListener('click', () => guestInput.value = guestInput.value < 6 ? +guestInput.value + 1 : guestInput.value )

    </script>
{% endblock %}