{% extends 'base.html' %}
{% load static %}

        <!-- Title -->
{% block title %}درباره ما |رزرو هتل و هتل آپارتمان با بهترین قیمت | با تخفیف ویژه برو بیا{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% include 'include/hotel-header.html' %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content">
            <!-- Hero Section -->
            <div class="bg-img-hero text-center mb-1" style="background-image: url({% static 'img/1920x400/img3.jpg' %});">
                <div class="container space-top-xl-3 py-6 py-xl-0">
                    <div class="row justify-content-center py-xl-4">
                        <!-- Info -->
                        <div class="py-xl-10 py-5">
                            <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">درباره ما</h1>
                            <nav aria-label="خرده نان">
                                <ol class="breadcrumb breadcrumb-no-gutter justify-content-center mb-0">
                                    <li class="breadcrumb-item font-size-14"> <a class="text-white" href="../home/index.html">صفحه اصلی</a> </li>
                                    <li class="breadcrumb-item custom-breadcrumb-item font-size-14 text-white active" aria-current="page">در باره</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- End Info -->
                    </div>
                </div>
            </div>
            <!-- End Hero Section -->
            <!-- Slider -->
            <div class="slider border-bottom border-color-3">
                <div class="container space-1">
                    <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mt-3">
                        <h2 class="section-title text-black font-size-xs-28 font-weight-bold mb-0">ما متعهد هستیم تا تجربه سفر شما را تا حد امکان ساده و سرگرم کننده کنیم!</h2>
                    </div>
                    <section class="w-lg-80 mx-auto mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="font-size-21 font-weight-bold text-center text-md-left ">داستان ما</h2>
                                <p class="text-gray-1">ایده بروبیا از یک پروژه دانشجویی شروع شد، پروژه ای که قرار بود سایتی ساده برای رزرو چند محصول که مدنظر ما اتاق های یک مسافرخانه ساده بودند باشد، بدون هیچ امکانات و یا دیزاین خاصی. تا روزی که به بستری برای رزرو هتل های لوکس تا خانه مسافر هایی با قدمت چندین و چند ساله و بوتیک هتل هایی با خاطره هایی بسیار زیبا و ماندگار تبدیل شد.</p>
                            </div><!-- /.col -->

                            <div class="col-md-6">
                                <h2 class="font-size-21 font-weight-bold text-center text-md-left ">ماموریت ما</h2>
                                <p class="text-gray-1">در هر لحظه از شبانه روز به فکر ایده های نو هستیم تا بتوانیم بستری ساده تر، دوستداشتنی تر و همین طور ایجاد تجربه ای بهتر را برای شما فراهم کنیم. ما خود را خدمت گذار شما میدانیم و با روی باز پذیرنده هرگونه انتقاد و پیشنهادی از سوی شما هستیم؛ برای بهبود تجربه شما در سایت و مجموعه بروبیا ما را از خودتان دریغ نکنید :)</p>
                            </div><!-- /.col -->

                        </div><!-- ./row -->
                    </section>

                </div>
            </div>
            <!-- End Slider -->
            <!-- Features Section -->
            <div class="mt-5 icon-block-center icon-center-v1 ">
            <div class="container text-center space-bottom-1">
                <!-- Title -->
                <div class="w-md-80 w-lg-50 text-center mx-md-auto pb-1">
                    <h2 class="section-title text-black font-size-30 font-weight-bold">چرا انتخاب کنید</h2>
                </div>
                <!-- End Title -->

                <!-- Features -->
                <div class="mb-2">
                    <div class="row">
                        <!-- Icon Block -->
                        <div class="col-md-4">
                            <img src="{% static 'svg/why-us/wallet.svg' %}" alt="Price">
                            <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">قیمت های رقابتی</a>
                            </h5>
                            <p class="text-gray-1 px-xl-2 px-uw-7">هتل های لوکس را ، با قیمت‌های استثنایی <a
                                    style="color: #ffcc00">برو بیا</a>.</p>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Icon Block -->
                        <div class="col-md-4">
                            <img src="{% static 'svg/why-us/support.svg' %}" alt="Support">
                            <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">پشتیبانی 24 ساعته</a>
                            </h5>
                            <p class="text-gray-1 px-xl-2 px-uw-7">راحت و بی دغدغه ، با پشتیبانی هر لحظه <a
                                    style="color: #ffcc00">برو بیا</a> .</p>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Icon Block -->
                        <div class="col-md-4">
                            <img src="{% static 'svg/why-us/location.svg' %}" alt="Locaion">
                            <h5 class="font-size-17 text-dark font-weight-bold mb-2"><a href="#">پوشش سراسری</a></h5>
                            <p class="text-gray-1 px-xl-2 px-uw-7">بیش از 1000 هتل را ، در سراسر ایران <a
                                    style="color: #ffcc00">برو بیا</a>.</p>
                        </div>
                        <!-- End Icon Block -->
                    </div>
                </div>
                <!-- End Features -->
            </div>
        </div>
            <!-- End Features Section -->
            <!--Banner-->

            <!--End Banner-->
            <!-- Testimonials Section -->

            <!-- End Testimonials Section -->
            {% comment %}
            <!-- Features Section -->
            <div class="gradient-overlay-half-bg-blue bg-img-hero" style="background-image: url({% static 'img/1920x450/img1.png' %});">
                <div class="container text-center space-1">
                    <!-- Features -->
                    <div class="row">
                        <!-- Icon Block -->
                        <div class="col-md-3">
                            <i class="flaticon-node text-white font-size-80 mb-3"></i>
                            <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">5340</h5>
                            <p class="text-white px-xl-2 text-lh-inherit px-uw-3">طول کل قایق های فروخته شده از سال 2009</p>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Icon Block -->
                        <div class="col-md-3">
                            <i class="flaticon-cardinal-points text-white font-size-80 mb-3"></i>
                            <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">19</h5>
                            <p class="text-white px-xl-2 text-lh-inherit px-uw-3">مکان هایی با دسترسی آسان از کانال آب عمیق</p>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Icon Block -->
                        <div class="col-md-3">
                            <i class="flaticon-anchor text-white font-size-80 mb-3"></i>
                            <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">18000</h5>
                            <p class="text-white px-xl-2 text-lh-inherit px-uw-3">نمایشگاه متر مربع مملو از قایق های نو و دست دوم</p>
                        </div>
                        <!-- End Icon Block -->

                        <!-- Icon Block -->
                        <div class="col-md-3">
                            <i class="flaticon-star text-white font-size-80 mb-3"></i>
                            <h5 class="font-size-30 text-white font-weight-bold mb-2 js-counter">30</h5>
                            <p class="text-white px-xl-2 text-lh-inherit px-uw-3">تعداد حرفه ای های قایق رانی دارای مجوز</p>
                        </div>
                        <!-- End Icon Block -->
                    </div>
                    <!-- End Features -->
                </div>
            </div>
            <!-- End Features Section -->
            <!-- Team -->
            <div class="team border-bottom border-color-3">
                <div class="container space-top-1">
                    <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mt-3">
                        <h2 class="section-title text-black font-size-30 font-weight-bold mb-0">تیم اختصاصی</h2>
                    </div>
                    <div class="row text-center pb-2">
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img1.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">دیوید ربتس</h6>
                            <span class="text-blue-lighter-1 font-size-normal">موسس و مدیر</span>
                        </div>
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img2.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">آگوستا سیلوا</h6>
                            <span class="text-blue-lighter-1 font-size-normal">مدیر ارشد عملیاتی</span>
                        </div>
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img3.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">برنیس لوکاس</h6>
                            <span class="text-blue-lighter-1 font-size-normal">Dairector - هتل ها</span>
                        </div>
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img4.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">جسیکا براون</h6>
                            <span class="text-blue-lighter-1 font-size-normal">مدیر اجرایی</span>
                        </div>
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img5.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">دیوید جکسون</h6>
                            <span class="text-blue-lighter-1 font-size-normal">موسس و مدیر عامل</span>
                        </div>
                        <div class="col-lg-4  col-md-6 inner-right inner-bottom-sm inner-left">
                            <div class="pb-3">
                                <figure class="d-inline-block u-avatar-image rounded-circle overflow-hidden">
                                    <div class="u-avatar-image-overlay">
                                        <ul class="u-avatar-image-social list-unstyled m-0 w-100 h-100">
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-facebook-f"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-twitter"></i></a></li>
                                            <li><a class="btn btn-icon btn-medium btn-soft-white btn-bg-transparent transition-3d-hover rounded-circle" href="#"><i class="btn-icon__inner fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="../../assets/img/200x200/img6.jpg" alt="تصویر-توضیح">
                                </figure>
                            </div>
                            <h6 class="font-size-17 font-weight-bold text-gray-11 mb-0">کایل مارتین</h6>
                            <span class="text-blue-lighter-1 font-size-normal">موسس و مدیر عامل</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endcomment %}
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
{% block footer %}
    {% include 'include/hotel-footer.html' %}
{% endblock %}
{% block javascript %}

        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
        <script src="../../documentation/assets/vendor/jquery-ui/jquery-ui.core.min.js"></script>
        <script src="../../documentation/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
        <script src="../../documentation/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>
        <script src="../../assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
        <script src="../../documentation/assets/vendor/jquery-ui/ui/widgets/autocomplete.js"></script>
        <script src="../../documentation/assets/vendor/prism/prism.js"></script>
        <script src="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="../../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="../../assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
        <script src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>


        <!-- JS MyTravel -->
        <script src="../../assets/js/hs.core.js"></script>
        <script src="../../assets/js/components/hs.header.js"></script>
        <script src="../../assets/js/components/hs.unfold.js"></script>
        <script src="../../assets/js/components/hs.go-to.js"></script>
        <script src="../../assets/js/components/hs.validation.js"></script>
        <script src="../../assets/js/components/hs.show-animation.js"></script>
        <script src="../../assets/js/components/hs.selectpicker.js"></script>
        <script src="../../assets/js/components/hs.range-datepicker.js"></script>
        <script src="../../assets/js/components/hs.svg-injector.js"></script>
        <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
        <script src="../../assets/js/components/hs.slick-carousel.js"></script>
        <script src="../../assets/js/components/hs.fancybox.js"></script>



        <!-- JS Plugins Init. -->
        <script>
            $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // initialization of svg injector module
                $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                  afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                  }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                 // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');


            });
        </script>
{% endblock %}
