{% extends 'base.html' %}
{% load static %}

        <!-- Title -->
{% block title %}ارتباط با ما |رزرو هتل و هتل آپارتمان با بهترین قیمت | با تخفیف ویژه برو بیا{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% include 'include/hotel-header.html' %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content">
            <!-- Hero Section -->
            <div class="bg-img-hero text-center mb-5 mb-lg-8" style="background-image: url({% static 'img/1920x400/img3.jpg' %});">
                <div class="container space-top-xl-3 py-6 py-xl-0">
                    <div class="row justify-content-center py-xl-4">
                        <!-- Info -->
                        <div class="py-xl-10 py-5">
                            <h1 class="font-size-40 font-size-xs-30 text-white font-weight-bold mb-0">با ما تماس بگیرید</h1>
                            <nav aria-label="خرده نان">
                                <ol class="breadcrumb breadcrumb-no-gutter justify-content-center mb-0">
                                    <li class="breadcrumb-item font-size-14"> <a class="text-white" href="../home/index.html">صفحه اصلی</a> </li>
                                    <li class="breadcrumb-item custom-breadcrumb-item font-size-14 text-white active" aria-current="page">با ما تماس بگیرید</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- End Info -->
                    </div>
                </div>
            </div>
            <!-- End Hero Section -->
            <div class="border-bottom border-color-8 pb-6 pb-lg-8 mb-5 mb-lg-7">
                <div class="container pb-1">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="mb-5 mb-lg-0 text-center text-md-left">
                                <h6 class="text-gray-3 font-weight-bold font-size-21">آدرس:</h6>
                                <div class="mb-3 mb-md-5">
                                    <p class="mb-0 text-gray-1">- شعبه مرکزی</p>
                                    <p class="mb-1 text-gray-1">سهروردی شمالی، حدفاصل بهشتی و هویزه، جنب تالار کودک، پلاک 551، واحد 4، سپاهان آرامش پرواز</p>
                                </div>



                            </div>
                        </div>

                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        شماره های پشتیبانی
                        <a href="tel:+989200701700"><p class="mb-1 text-gray-1">09200701700</p></a>
                        <a href="tel:+989200501700"><p class="mb-1 text-gray-1">09200501700</p></a>
                        <a href="tel:+989120321700"><p class="mb-1 text-gray-1">09120321700</p></a>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        شماره های ثابت
                        <a href="tel:+982188511949"><p class="mb-1 text-gray-1">02188511949</p></a>
                        <a href="tel:+982188768161"><p class="mb-1 text-gray-1">02188768161</p></a>
                    </div>
                    <div class="col-md-3 col-lg-3">
                            انتقادات و پیشنهاداد
                            <a href="mailto:info@boroobia.com"><p class="mb-1 text-gray-1">info@boroobia.com</p></a>
                            مشکلات فنی سایت
                            <a href="mailto:support@boroobia.com"><p class="mb-1 text-gray-1">support@boroobia.com</p></a>
                    </div>
                    <div class="col-md-3 col-lg-3">
                            مشکلات بخش بلیط
                            <a href="mailto:ticket@boroobia.com"><p class="mb-1 text-gray-1">ticket@boroobia.com</p></a>
                            مشکلات بخش هتل
                            <a href="mailto:hotel@boroobia.com"><p class="mb-1 text-gray-1">hotel@boroobia.com</p></a>
                    </div>
                </div>
                </div>
            </div>
            <div class=" border-color-8 pb-6 pb-lg-9 mb-6 mb-lg-8">
              {% comment %}
                <div class="container mb-10">
                    <div class="w-md-80 w-lg-50 text-center mx-md-auto my-3">
                        <h2 class="section-title text-black font-size-30 font-weight-bold mb-5 pb-xl-1">برای ما پیام ارسال می کند</h2>
                    </div>
                    <div class="comment-section max-width-810 mx-auto">
                        <form class="js-validate" novalidate="novalidate">
                            <div class="row">
                                <!-- Input -->
                                <div class="col-sm-6 mb-5">
                                    <div class="js-form-message">
                                        <input type="text" class="form-control" name="name" placeholder="نام" aria-label="جک ویلی" required="" data-error-class="u-has-error" data-msg="Please enter your name." data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->

                                <!-- Input -->
                                <div class="col-sm-6 mb-5">
                                    <div class="js-form-message">
                                        <input type="email" class="form-control" name="email" placeholder="پست الکترونیک" aria-label="jackwayley@gmail.com" required="" data-msg="لطفا یک آدرس ایمیل معتبر وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">
                                    </div>
                                </div>
                                <!-- End Input -->
                                <div class="col-sm-12 mb-5">
                                    <div class="js-form-message">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="6" cols="77" name="text" placeholder="پیام" aria-label="سلام، من می خواهم ..." required="" data-msg="لطفا یک دلیل را وارد کنید" data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Input -->
                                <div class="col d-flex justify-content-lg-start">
                                    <button type="submit" class="btn rounded-xs bg-blue-dark-1 text-white height-51 width-190 transition-3d-hover">پیام فرستادن</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endcomment %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d347.04754278619714!2d51.44003805472937!3d35.732887768316324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e031d9a2c16f9%3A0x76d15eea5de6a0a2!2z2KLamNin2YbYsyDYs9m-2KfZh9in2YYg2KLYsdin2YXYtCDZvtix2YjYp9iy!5e0!3m2!1sen!2s!4v1703687848526!5m2!1sen!2s"  width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
{% block footer %}
    {% include 'include/hotel-footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'vendor/jquery-ui/jquery-ui.core.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-ui/ui/widgets/menu.js'%}"></script>
        <script src="{% static 'vendor/jquery-ui/ui/widgets/mouse.js'%}"></script>
        <script src="{% static 'vendor/svg-injector/dist/svg-injector.min.js'%}"></script>
        <script src="{% static 'vendor/jquery-ui/ui/widgets/autocomplete.js'%}"></script>
        <script src="{% static 'vendor/prism/prism.js'%}"></script>
        <script src="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'%}"></script>
        <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>

        <!-- JS MyTravel -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'js/components/hs.validation.js' %}"></script>
        <script src="{% static 'js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.range-datepicker.js' %}"></script>
        <script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
        <script src="{% static 'js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'js/components/hs.svg-injector.js' %}"></script>

        <!-- JS Plugins Init. -->
        <script>
            $(window).on('load', function () {
                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // initialization of svg injector module
                $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
                  afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                  }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');
            });
        </script>
 {% endblock %}
