{% extends 'base.html' %}
{% load static %}
{% load humanize %}

        <!-- Title -->
{% block title %}برو بیا | چه برو بیا ایه{% endblock %}
{% block header %}{% endblock %}
{% block content %}

{% include 'include/list-header.html' %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" class="bg-gray space-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="mb-5 shadow-soft bg-white rounded-sm">
                            <div class="py-3 px-4 px-xl-12 border-bottom">
                                <ul class="list-group flex-nowrap overflow-auto overflow-md-visble list-group-horizontal list-group-borderless flex-center-between pt-1">
                                    <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                            1
                                        </div>
                                        <div class="text-gray-1">تایید رزرو</div>
                                    </li>
                                    <li class=" list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 bg-primary border-width-2 border border-primary text-white mx-auto rounded-circle">
                                            2
                                        </div>
                                        <div class="text-primary">اطلاعات مسافران</div>

                                    </li>
                                    <li class="list-group-item text-center flex-shrink-0 flex-md-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                            3
                                        </div>
                                        <div class="text-gray-1">دریافت واچر هتل</div>
                                    </li>
                                </ul>
                            </div>

                            <div class="pt-4 pb-5 px-5">

                                <form method="POST" >
                                    {% csrf_token %}
                                    <!-- Contacts Form -->
                                    <h5 class="font-size-21 font-weight-bold text-dark mb-4">
                                        اطلاعات سرگروه را وارد کنید
                                    </h5>
                                    <div class="row">
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                                {{ headMyBookingForm.firstname.label_tag }}
                                                {{ headMyBookingForm.firstname.errors }}
                                                {{ headMyBookingForm.firstname }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                        {{ headMyBookingForm.lastname.label_tag }}
                                        {{ headMyBookingForm.lastname.errors }}
                                        {{ headMyBookingForm.lastname }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                        {{ headMyBookingForm.email.label_tag }}
                                        {{ headMyBookingForm.email.errors }}
                                        {{ headMyBookingForm.email }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                        {{ headMyBookingForm.phone.label_tag }}
                                        {{ headMyBookingForm.phone.errors }}
                                        {{ headMyBookingForm.phone }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                        {{ headMyBookingForm.nid.label_tag }}
                                        {{ headMyBookingForm.nid.errors }}
                                        {{ headMyBookingForm.nid }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message  ">
                                        {{ headMyBookingForm.birthdate.label_tag }}
                                        {{ headMyBookingForm.birthdate.errors }}
                                        {{ headMyBookingForm.birthdate }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mb-4">
                                            <div class="js-form-message mb-6">
                                                {{ headMyBookingForm.needs.label_tag }}
                                                {{ headMyBookingForm.needs.errors }}
                                                {{ headMyBookingForm.needs }}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Contacts Form -->
                                    <!-- Contacts Form -->
                                    <h5 class="font-size-21 font-weight-bold text-dark mb-4">
                                        اطلاعات اعضا گروه را وارد کنید
                                    </h5>
                                    <div class="row">
                                        {% for form in myBookingForm %}
                                            <div class="border-top border-width-2 border-color-1"></div>
                                            <br>
                                            <div class="col-sm-6 mb-4">
                                                <div class="js-form-message">
                                                    {{ form.firstname.label_tag }}
                                                    {{ form.firstname.errors }}
                                                    {{ form.firstname }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="js-form-message">
                                                    {{ form.lastname.label_tag }}
                                                    {{ form.lastname.errors }}
                                                    {{ form.lastname }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="js-form-message">
                                                    {{ form.nid.label_tag }}
                                                    {{ form.nid.errors }}
                                                    {{ form.nid }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="js-form-message">
                                                    {{ form.birthdate.label_tag }}
                                                    {{ form.birthdate.errors }}
                                                    {{ form.birthdate }}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                    <!-- End Contacts Form -->
                                    <button type="submit" class="btn btn-primary btn-wide rounded-sm transition-3d-hover font-size-16 font-weight-bold py-3">صفحه بعد</button>

                                </form>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="shadow-soft bg-white rounded-sm">
                            <div class="pt-5 pb-3 px-5 border-bottom">
                                <a href="#" class="d-block mb-3">
                                    <img class="img-fluid rounded-xs" src="{{ room.image_booking.url}}" alt="{{ room.image_booking.url}}">
                                </a>
                                <a href="#" class="text-dark font-weight-bold pr-xl-1">هتل {{ hotel.faname}} اتاق {{ room.faname }}</a>
                                <div class="my-1 flex-horizontal-center text-gray-1">
                                    <i class="icon flaticon-pin-1 mr-2 font-size-15"></i>{{ hotel.address }}
                                </div>
                            </div>
                            <!-- Basics Accordion -->
                            <div id="basicsAccordion">
                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingOne">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="true" aria-controls="basicsCollapseOne">
                                                جزئیات رزرو

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            <!-- Fact List -->
                                            <ul class="list-unstyled font-size-1 mb-0 font-size-16">
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium" >تاریخ<br>
{#                                                        <span class="text-gray-1 font-weight-normal">1 x اتاق استراحت </span>#}
                                                    </span>
                                                    <span class="text-secondary" id="date-range">{{ reserve.enter }} - {{ reserve.exit }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">اقامت </span>
                                                    <span class="text-secondary" id="stay-nights">{{ night}}  شب</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">اتاق </span>
                                                    <span class="text-secondary" id="roomInput">{{ reserve.room_count }}</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">بزرگسال </span>
                                                    <span class="text-secondary" id="passInput">{{ reserve.passenger_count }}</span>
                                                </li>
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">کودک </span>
                                                    <span class="text-secondary" id="childInput">{{ reserve.child_count }}</span>
                                                </li>
                                            </ul>
                                            <!-- End Fact List -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->

                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingTwo">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="true" aria-controls="basicsCollapseTwo">
                                                توضیحات هتل

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            {{ hotel.explanation }}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->


                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingFour">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                                پرداخت

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseFour" class="collapse show" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            <!-- Fact List -->
                                            <ul class="list-unstyled font-size-1 mb-0 font-size-16">
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">مبلغ کل </span>
                                                    <span class="text-secondary">{{ room.price|intcomma }} تومان</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">تخفیف </span>
                                                    <span class="text-secondary">0 تومان</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">مالیات </span>
                                                    <span class="text-secondary">0 %</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2 font-size-17 font-weight-bold">
                                                    <span class="font-weight-bold">مبلغ </span>
                                                    <span class="">{{ room.price|intcomma }} تومان پرداخت کنید</span>
                                                </li>
                                            </ul>
                                            <!-- End Fact List -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Basics Accordion -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
{% block footer %}
    {% include 'include/hotel-footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- Page Preloader -->
        <!-- <div id="jsPreloader" class="page-preloader">
            <div class="page-preloader__content-centered">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div> -->
        <!-- End Page Preloader -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'vendor/gmaps/gmaps.min.js' %}"></script>
        <script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'vendor/appear.js' %}"></script>


        <!-- JS MyTravel -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'js/components/hs.validation.js' %}"></script>
        <script src="{% static 'js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.range-datepicker.js' %}"></script>
        <script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
        <script src="{% static 'js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'js/components/hs.quantity-counter.js' %}"></script>
        <script src="{% static 'js/components/hs.g-map.js' %}"></script>
        <script src="{% static 'js/components/hs.fancybox.js' %}"></script>
        <script src="{% static 'js/components/hs.scroll-nav.js' %}"></script>
        <script src="{% static 'js/components/hs.sticky-block.js' %}"></script>
        <script src="{% static 'js/components/hs.focus-state.js' %}"></script>

{##}
{#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/css/mdb.min.css" />#}
{#        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/js/mdb.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/js/mdb.min.js"></script>#}

        <!-- JS Plugins Init. -->
        <script>


            $(window).on('load', function () {

                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // Page preloader
                setTimeout(function() {
                  $('#jsPreloader').fadeOut(500)
                }, 800);
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of google map
                function initMap() {
                    $.HSCore.components.HSGMap.init('.js-g-map');
                }

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate', {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of forms
                $.HSCore.components.HSFocusState.init();

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

                // initialization of select
                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of sticky blocks
                $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                    duration: 700
                });
            });

        </script>

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuY6I4hZQvxo5RqCH7kogGKzcrjetRKQI&amp;callback=initMap" async defer></script>
 {% endblock %}
