{% extends 'base.html' %}
{% load static %}
{% load humanize %}

        <!-- Title -->
{% block title %}برو بیا | چه برو بیا ایه{% endblock %}
{% block header %}{% endblock %}
{% block content %}

{% include 'include/list-header.html' %}
        <!-- ========== MAIN CONTENT ========== -->
        <main id="content" class="bg-gray space-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-9">
                        <div class="mb-5 shadow-soft bg-white rounded-sm">
                            <div class="py-3 px-4 px-xl-12 border-bottom">
                                <ul class="list-group flex-nowrap overflow-auto overflow-md-visble list-group-horizontal list-group-borderless flex-center-between pt-1">
                                    <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 bg-primary border-width-2 border border-primary text-white mx-auto rounded-circle">
                                            1
                                        </div>
                                        <div class="text-primary">تایید رزرو</div>
                                    </li>
                                    <li class="list-group-item text-center flex-shrink-0 flex-xl-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                            2
                                        </div>
                                        <div class="text-gray-1">اطلاعات مسافران</div>

                                    </li>
                                    <li class="list-group-item text-center flex-shrink-0 flex-md-shrink-1">
                                        <div class="flex-content-center mb-3 width-40 height-40 border  border-width-2 border-gray mx-auto rounded-circle">
                                            3
                                        </div>
                                        <div class="text-gray-1">دریافت واچر هتل</div>
                                    </li>
                                </ul>
                            </div>

                            <div class="pt-4 pb-5 px-5">
                                <h5 id="scroll-description" class="font-size-21 font-weight-bold text-dark mb-4">
                                    اطلاعات سرگروه را وارد کنید
                                </h5>
                            <form method="POST" >
                                {% csrf_token %}
                                <!-- Contacts Form -->
                                <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.firsrname.label_tag }}
                                {{ bookingForm.firsrname.errors }}
                                {{ bookingForm.firsrname }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.lastname.label_tag }}
                                {{ bookingForm.lastname.errors }}
                                {{ bookingForm.lastname }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.email.label_tag }}
                                {{ bookingForm.email.errors }}
                                {{ bookingForm.email }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.number.label_tag }}
                                {{ bookingForm.number.errors }}
                                {{ bookingForm.number }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.nid.label_tag }}
                                {{ bookingForm.nid.errors }}
                                {{ bookingForm.nid }}
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <div class="js-form-message">
                                {{ bookingForm.birthdate.label_tag }}
                                {{ bookingForm.birthdate.errors }}
                                {{ bookingForm.birthdate }}
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <div class="js-form-message mb-6">
                                        {{ bookingForm.neeeds.label_tag }}
                                        {{ bookingForm.neeeds.errors }}
                                        {{ bookingForm.neeeds }}
                                    </div>
                                </div>
                                </div>

{#                                    <div class="row">#}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    * نام#}
{#                                                </label>#}
{##}
{#                                                <input type="text" class="form-control" name="firstName" placeholder="علی" aria-label="علی" required="" data-msg="لطفا نام خود را وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    * نام خانوادگی#}
{#                                                </label>#}
{##}
{#                                                <input type="text" class="form-control" name="lasstName" placeholder="توفان" aria-label="توفان" required="" data-msg="لطفا نام خانوادگی خود را وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    پست الکترونیک#}
{#                                                </label>#}
{##}
{#                                                <input type="email" class="form-control" name="email" placeholder="info@gmail.com" aria-label="info@gmail.com" data-msg="لطفا یک آدرس ایمیل معتبر وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    * تلفن#}
{#                                                </label>#}
{##}
{#                                                <input type="number" class="form-control" name="phone" placeholder="0912345678" aria-label="0912345678" required="" data-msg="لطفا یک شماره تلفن معتبر وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <div class="w-100"></div>#}
{##}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    * کد  ملی#}
{#                                                </label>#}
{#                                                <input type="number" class="form-control" name="nationalid" placeholder="0110011555" aria-label="0110011555" required="" data-msg="لطفا کد ملی خود را صحیح وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <!-- Input -->#}
{#                                        <div class="col-sm-6 mb-4">#}
{#                                            <div class="js-form-message">#}
{#                                                <label class="form-label">#}
{#                                                    * تاریخ تولد#}
{#                                                </label>#}
{#                                                <input class="form-control datepic" placeholder="1360-06-20" data-jdp required="" data-msg="لطفا تاریخ تولد خود را صحیح وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success" max="{{ today }}">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <!-- End Input -->#}
{##}
{#                                        <div class="w-100"></div>#}
{##}
{#                                        <div class="col">#}
{#                                            <!-- Input -->#}
{#                                            <div class="js-form-message mb-6">#}
{#                                                <label class="form-label">#}
{#                                                    نیازمندی های ویژه#}
{#                                                </label>#}
{##}
{#                                                <div class="input-group">#}
{#                                                    <textarea class="form-control" rows="4" name="text" placeholder="" aria-label=""  data-msg="لطفا یک دلیل را وارد کنید" data-error-class="u-has-error" data-success-class="u-has-success"></textarea>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <!-- End Input -->#}
{#                                        </div>#}
{##}
{#                                        <div class="w-100"></div>#}
{##}
{##}
{##}
{#                                    </div>#}

                            <button type="submit" class="btn btn-primary btn-wide rounded-sm transition-3d-hover font-size-16 font-weight-bold py-3">صفحه بعد</button>

                            </form>
                                <!-- End Contacts Form -->
                                <h5 id="group-members" class="font-size-21 font-weight-bold text-dark mb-4">
                                    اطلاعات اعضا گروه را وارد کنید
                                </h5>


                                <!-- Contacts Form -->
                                <form class="js-validate" id="mainForm">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                                <label class="form-label">
                                                    * نام
                                                </label>

                                                <input type="text" class="form-control" name="firstName" placeholder="علی" aria-label="علی" required="" data-msg="لطفا نام خود را وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">
                                            </div>
                                        </div>
                                        <!-- End Input -->

                                        <!-- Input -->
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                                <label class="form-label">
                                                    * نام خانوادگی
                                                </label>

                                                <input type="text" class="form-control" name="lasstName" placeholder="توفان" aria-label="توفان" required="" data-msg="لطفا نام خانوادگی خود را وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">
                                            </div>
                                        </div>
                                        <!-- End Input -->


                                        <div class="w-100"></div>

                                        <!-- Input -->
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                                <label class="form-label">
                                                    * کد  ملی
                                                </label>
                                                <input type="number" class="form-control" name="nationalid" placeholder="0110011555" aria-label="0110011555" required="" data-msg="لطفا کد ملی خود را صحیح وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success">
                                            </div>
                                        </div>
                                        <!-- End Input -->

                                        <!-- Input -->
                                        <div class="col-sm-6 mb-4">
                                            <div class="js-form-message">
                                                <label class="form-label">
                                                    * تاریخ تولد
                                                </label>
                                                <input class="form-control datepic" placeholder="1360-06-20" data-jdp required="" data-msg="لطفا تاریخ تولد خود را صحیح وارد کنید." data-error-class="u-has-error" data-success-class="u-has-success" max="{{ today }}">
                                            </div>
                                        </div>
                                        <!-- End Input -->


                                    </div>
                                </form>



                                <!-- End Contacts Form -->
                            </div>



                        </div>

                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="shadow-soft bg-white rounded-sm">
                            <div class="pt-5 pb-3 px-5 border-bottom">
                                <a href="#" class="d-block mb-3">
                                    <img class="img-fluid rounded-xs" src="{{ room.image_booking.url}}" alt="{{ room.image_booking.url}}">
                                </a>
                                <a href="#" class="text-dark font-weight-bold pr-xl-1">هتل {{ hotel.faname}} اتاق {{ room.faname }}</a>
                                <div class="my-1 flex-horizontal-center text-gray-1">
                                    <i class="icon flaticon-pin-1 mr-2 font-size-15"></i>{{ hotel.address }}
                                </div>
                            </div>
                            <!-- Basics Accordion -->
                            <div id="basicsAccordion">
                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingOne">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="true" aria-controls="basicsCollapseOne">
                                                جزئیات رزرو

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            <!-- Fact List -->
                                            <ul class="list-unstyled font-size-1 mb-0 font-size-16">
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium" >تاریخ<br>
{#                                                        <span class="text-gray-1 font-weight-normal">1 x اتاق استراحت </span>#}
                                                    </span>
                                                    <span class="text-secondary" id="date-range"></span>
                                                </li>
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">اقامت </span>
                                                    <span class="text-secondary" id="stay-nights">7 شب</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">اتاق </span>
                                                    <span class="text-secondary" id="roomInput">2 اتاق</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">بزرگسال </span>
                                                    <span class="text-secondary" id="passInput">4</span>
                                                </li>
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">کودک </span>
                                                    <span class="text-secondary" id="childInput">4</span>
                                                </li>
                                            </ul>
                                            <!-- End Fact List -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->

                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingTwo">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="true" aria-controls="basicsCollapseTwo">
                                                توضیحات هتل

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            {{ hotel.explanation }}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->


                                <!-- Card -->
                                <div class="card rounded-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header card-collapse bg-transparent border-0" id="basicsHeadingFour">
                                        <h5 class="mb-0">
                                            <button type="button" class="btn btn-link border-0 btn-block d-flex justify-content-between card-btn py-3 px-4 font-size-17 font-weight-bold text-dark" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                                پرداخت

                                            <span class="card-btn-arrow font-size-14 text-dark">
                                                    <i class="fas fa-chevron-down"></i>
                                                </span>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="basicsCollapseFour" class="collapse show" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
                                        <div class="card-body px-4 pt-0">
                                            <!-- Fact List -->
                                            <ul class="list-unstyled font-size-1 mb-0 font-size-16">
                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">مبلغ کل </span>
                                                    <span class="text-secondary">{{ room.price|intcomma }} تومان</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">تخفیف </span>
                                                    <span class="text-secondary">0 تومان</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2">
                                                    <span class="font-weight-medium">مالیات </span>
                                                    <span class="text-secondary">0 %</span>
                                                </li>

                                                <li class="d-flex justify-content-between py-2 font-size-17 font-weight-bold">
                                                    <span class="font-weight-bold">مبلغ </span>
                                                    <span class="">{{ room.price|intcomma }} تومان پرداخت کنید</span>
                                                </li>
                                            </ul>
                                            <!-- End Fact List -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Basics Accordion -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
{% block footer %}
    {% include 'include/hotel-footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- Page Preloader -->
        <!-- <div id="jsPreloader" class="page-preloader">
            <div class="page-preloader__content-centered">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div> -->
        <!-- End Page Preloader -->

        <!-- Go to Top -->
        <a class="js-go-to u-go-to-modern" href="#" data-position='{"bottom": 15, "right": 15 }' data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown">
            <span class="flaticon-arrow u-go-to-modern__inner"></span>
        </a>
        <!-- End Go to Top -->

        <!-- JS Global Compulsory -->
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

        <!-- JS Implementing Plugins -->
        <script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
        <script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'vendor/gmaps/gmaps.min.js' %}"></script>
        <script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'vendor/appear.js' %}"></script>


        <!-- JS MyTravel -->
        <script src="{% static 'js/hs.core.js' %}"></script>
        <script src="{% static 'js/components/hs.header.js' %}"></script>
        <script src="{% static 'js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'js/components/hs.validation.js' %}"></script>
        <script src="{% static 'js/components/hs.show-animation.js' %}"></script>
        <script src="{% static 'js/components/hs.range-datepicker.js' %}"></script>
        <script src="{% static 'js/components/hs.selectpicker.js' %}"></script>
        <script src="{% static 'js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'js/components/hs.quantity-counter.js' %}"></script>
        <script src="{% static 'js/components/hs.g-map.js' %}"></script>
        <script src="{% static 'js/components/hs.fancybox.js' %}"></script>
        <script src="{% static 'js/components/hs.scroll-nav.js' %}"></script>
        <script src="{% static 'js/components/hs.sticky-block.js' %}"></script>
        <script src="{% static 'js/components/hs.focus-state.js' %}"></script>

{##}
{#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/css/mdb.min.css" />#}
{#        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/js/mdb.min.js"></script>#}
{#        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdbootstrap@5.4.3/js/mdb.min.js"></script>#}

        <!-- JS Plugins Init. -->
        <script>
        $(function () {
        $(".datepicker-jalali").pickadate({
            format: 'yyyy/mm/dd',
            selectMonths: true,
            selectYears: 100,
            clear: 'پاک کردن',
            close: 'بستن',
            today: 'امروز',
            closeOnSelect: true
        });
    });
            $(window).on('load', function () {

                // initialization of HSMegaMenu component
                $('.js-mega-menu').HSMegaMenu({
                    event: 'hover',
                    pageContainer: $('.container'),
                    breakpoint: 1199.98,
                    hideTimeOut: 0
                });

                // Page preloader
                setTimeout(function() {
                  $('#jsPreloader').fadeOut(500)
                }, 800);
            });

            $(document).on('ready', function () {
                // initialization of header
                $.HSCore.components.HSHeader.init($('#header'));

                // initialization of google map
                function initMap() {
                    $.HSCore.components.HSGMap.init('.js-g-map');
                }

                // initialization of unfold component
                $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate', {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of forms
                $.HSCore.components.HSFocusState.init();

                // initialization of show animations
                $.HSCore.components.HSShowAnimation.init('.js-animation-link');

                // initialization of popups
                $.HSCore.components.HSFancyBox.init('.js-fancybox');

                // initialization of datepicker
                $.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

                // initialization of select
                $.HSCore.components.HSSelectPicker.init('.js-select');

                // initialization of sticky blocks
                $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

                // initialization of quantity counter
                $.HSCore.components.HSQantityCounter.init('.js-quantity');

                // initialization of slick carousel
                $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

                // initialization of form validation
                $.HSCore.components.HSValidation.init('.js-validate');

                // initialization of go to
                $.HSCore.components.HSGoTo.init('.js-go-to');

                // initialization of HSScrollNav component
                $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
                    duration: 700
                });
            });
            document.addEventListener('DOMContentLoaded', function() {
        // خواندن پارامترها از URL
        const urlParams = new URLSearchParams(window.location.search);
        const enterValue = urlParams.get('enter');
        const exitValue = urlParams.get('exit');
        const roomValue = urlParams.get('room');
        const passValue = urlParams.get('pass');
        const [adults, children] = passValue.split(',');
        console.log(adults, children);

        const mainForm = document.getElementById('mainForm');
        const group_members = document.getElementById('group-members');
        if (adults==1 && children==0){

            mainForm.innerHTML = '';
            group_members.innerHTML = '';
        }
        if (adults==1 && children==1){
        for (let i = 2; i < children; i++) {
                const clonedForm = mainForm.cloneNode(true);
                mainForm.parentNode.insertBefore(clonedForm, mainForm.nextSibling);
         }
        }

        else{
         for (let i = 2; i < adults; i++) {
             const clonedForm = mainForm.cloneNode(true);
             mainForm.parentNode.insertBefore(clonedForm, mainForm.nextSibling);
         }
        for (let i = 0; i < children; i++) {
                const clonedForm = mainForm.cloneNode(true);
                mainForm.parentNode.insertBefore(clonedForm, mainForm.nextSibling);
         }}


         
        // نمایش تاریخ ها و اطلاعات دیگر در محل مناسب
        const dateRangeElement = document.getElementById('date-range');
        const roomElement = document.getElementById('roomInput');
        const passElement = document.getElementById('passInput');
        const childElement = document.getElementById('childInput');
        passElement.textContent = adults;
        childElement.textContent = children;
        dateRangeElement.textContent = `${enterValue} - ${exitValue}`;
        roomElement.textContent = `${roomValue}`;

        // اطلاعات دیگر نیز به همین شکل باقی‌می‌ماند. برای هر پارامتر از id مخصوص خود استفاده کنید و متن مورد نظر را به آن تنظیم کنید.
    });
            document.addEventListener('DOMContentLoaded', function() {
        // خواندن پارامترها از URL
        const urlParams = new URLSearchParams(window.location.search);
        const enterValue = urlParams.get('enter');
        const exitValue = urlParams.get('exit');

        // تبدیل تاریخ‌ها به شیوه مناسب پایتون
        const enterDate = new Date(enterValue.replace(/-/g, '/'));
        const exitDate = new Date(exitValue.replace(/-/g, '/'));

        // محاسبه تفاوت بین تاریخ‌ها به صورت شب‌ها
        const timeDifference = Math.abs(exitDate - enterDate);
        const stayNights = Math.ceil(timeDifference / (1000 * 60 * 60 * 24));
        document.getElementById('stay-nights').textContent = `${stayNights} شب`;
    });




        </script>

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuY6I4hZQvxo5RqCH7kogGKzcrjetRKQI&amp;callback=initMap" async defer></script>
 {% endblock %}
